@import '../styles/variables.scss';

.green-thoughts-template__body__container {
  position: absolute;
  top: 80px;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px 50px 50px;
}

.green-thoughts-template__article-title {
  font-family: $font-family-article;
  font-size: 35px;
  padding: 60px 0px 50px 0px;
}

.green-thoughts-template__article-excerpt__container {
  font-family: $font-family-article;
  font-size: 20px;
  line-height: 35px;
  max-width: 700px;
  float: right;
}
