@import './variables.scss';

@mixin angle-divider(
  $backgroundColor,
  $topAngle,
  $bottomAngle,
  $transformOriginTop,
  $transformOriginBottom,
  $verticalPadding,
  $horizontalPadding,
  $textAlign
) {
  position: relative;
  width: 100%;
  color: #fff;
  padding: $verticalPadding $horizontalPadding;
  text-align: $textAlign;
  background: $backgroundColor;
  z-index: 1;

  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
  }

  &:before {
    top: 0;
    transform: skewY($topAngle);
    transform-origin: $transformOriginTop;
  }

  &:after {
    bottom: 0;
    transform: skewY($bottomAngle);
    transform-origin: $transformOriginBottom;
  }
}

@mixin standard-page__body__container {
  margin: 150px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: $bp-large) {
    margin: 150px 0px 50px 0px;
  }
}

@mixin standard-page__section-title {
  width: 100%;
  height: 50px;
  padding: 50px 30px 50px 0px;
  font-size: 35px;
  color: $color-rosy-red;
}

@mixin standard-page__intro-information__container {
  $parameters: (
    'backgroundColor': $color-deep-brown,
    'topAngle': 1.8deg,
    'bottomAngle': 0deg,
    'transformOriginTop': 100% 0,
    'transformOriginBottom': 0 0,
    'verticalPadding': 5%,
    'horizontalPadding': 50px,
    'textAlign': 'center',
  );
  @include angle-divider($parameters...);
  border-bottom: 3px solid $color-bright-aqua;
  font-size: 18px;
  line-height: 45px;
}

@mixin standard-page__outlined-text__container {
  $parameters: (
    'backgroundColor': #ffffff,
    'topAngle': 1.8deg,
    'bottomAngle': 0deg,
    'transformOriginTop': 100% 0,
    'transformOriginBottom': 0 0,
    'verticalPadding': 5%,
    'horizontalPadding': 50px,
    'textAlign': 'center',
  );
  @include angle-divider($parameters...);
  color: black;
  font-size: 25px;
  border: 3px solid $color-bright-aqua;
  z-index: -1;
  line-height: 35px;
}

@mixin standard-page__multiline-truncation($lineHeight: 25px, $lineCount: 3) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@mixin image-card__vertical__container {
  width: 96%;
  height: auto;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 0 2% 30px 2%;
  cursor: pointer;

  &:hover {
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.19),
      0 12px 12px rgba(0, 0, 0, 0.23);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.19), 0 12px 12px rgba(0, 0, 0, 0.23);
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@mixin standard-page__zigzag(
  $height: 10px,
  $halfheight: (
    $height/2,
  ),
  $thickness: 110%,
  $offset: 0px,
  $backgroundcolor: #fff,
  $linecolor: $color-bright-aqua
) {
  margin: 5% 0;
  background: $backgroundcolor;
  position: relative;
  height: $height;
  z-index: 1;
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
  }
  &:before {
    height: ($height - $offset);
    top: $thickness;
    background: linear-gradient(-135deg, $linecolor $halfheight, transparent 0)
        0 $halfheight,
      linear-gradient(135deg, $linecolor $halfheight, transparent 0) 0
        $halfheight;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: $height $height;
  }
  &:after {
    height: $height;
    top: 100%;
    background: linear-gradient(
          -135deg,
          $backgroundcolor $halfheight,
          transparent 0
        )
        0 $halfheight,
      linear-gradient(135deg, $backgroundcolor $halfheight, transparent 0) 0
        $halfheight;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: $height $height;
  }
}
