@import url('https://fonts.googleapis.com/css?family=Megrim');

// COLORS
$color-deep-blue: #00404e;
$color-bright-aqua: rgb(3, 188, 202);
$color-light-aqua: rgba(3, 188, 202, 0.8);
$color-bright-green: #8dca6c;
$color-light-green: #c1e2af;
$color-sky-white: #f2f7fa;
$color-rosy-red: #ff4e65;
$color-deep-brown: #1e191f;
// FONTS
$font-family-megrim: 'Megrim', Helvetica;
$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-article: 'Georgia';
// BREAK-POINTS
$bp-xSmall: 500px;
$bp-small: 600px;
$bp-medium: 700px;
$bp-large: 800px;
$bp-xLarge: 900px;
