.event-card__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;

  &:hover {
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.19),
      0 12px 12px rgba(0, 0, 0, 0.23);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.19), 0 12px 12px rgba(0, 0, 0, 0.23);
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
  }

  .event-card__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    .event-card__title {
      padding: 20px;
      font-size: 25px;
    }
    .event-card__caption {
      font-size: 20px;
    }
  }
}
