@import '../../styles/variables';
@import '../../styles/mixins';

.image-card__container {
  @include image-card__vertical__container();
}

.image-card__image__container {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;
  overflow: hidden;
  overflow-y: hidden;
}

.image-card__text {
  padding: 15px;
}

.image-card__text__title {
  @include standard-page__multiline-truncation(30px, 3);
  box-sizing: content-box;
  text-align: center;
  padding: 0px 0px 10px 0px;
  font-size: 20px;
  border-bottom: 3px solid $color-bright-aqua;
}

.image-card__text__description {
  @include standard-page__multiline-truncation(25px, 5);
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
}
