@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.footer {
  &__outer-container {
    display: flex;
    flex-direction: column;
    background: $color-light-aqua;
  }
  &__top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 15% 20px 15%;
    height: 80%;
  }
  &__bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #000;
    height: 20%;
    min-height: 60px;
  }
  &__information-segment__container {
    flex: 1;
  }
  &__information-segment__title {
    $parameters: (
      'fontSize': 20px,
      'fontColor': #000,
    );
    @include standard-page__section-title($parameters...);
    padding-bottom: 35px;
    border-bottom: 1px solid $color-rosy-red;
  }
  &__information-segment__body {
    padding-top: 10px;
    font-size: 15px;
    line-height: 30px;
  }
  &__link {
    color: #000;
  }
  &__link:hover {
    color: #999999;
  }
  &__map {
    border: 0px;
  }
  @media (max-width: $bp-large) {
    &__top-container {
      flex-direction: column;
    }
    &__information-segment__title {
      padding-left: 0;
      margin-left: 0;
    }
    &__information-segment__container {
      padding-bottom: 30px;
    }
  }
}
