@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.events-page {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__body__container {
    @include standard-page__body__container();
    max-width: 900px;
  }
  @media (max-width: $bp-medium) {
    &__body__container {
      padding: 0px 10px 0px 10px;
    }
  }

  &__intro-informtaion__container {
    @include standard-page__intro-information__container();
  }

  &__section-title__container {
    width: 100%;
    border-bottom: 3px solid $color-bright-aqua;
  }

  &__section-title__title {
    @include standard-page__section-title();
  }

  &__events-card-section__container {
    width: 100%;
  }

  &__what-we-do {
    font-size: 18px;
    line-height: 30px;
    p {
      margin-top: 20px;
    }
    span {
      font-weight: bold;
    }
    li {
      margin: 0px 0px 15px 0px;
    }
  }
}
