@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.events-page__body__container {
  @include standard-page__body__container();
}

.events-page__intro-informtaion__container {
  @include standard-page__intro-information__container();
}

.events-page__upcoming-events__container {
  width: 100%;
  padding: 20px;
  margin: 20px 0px 0px 0px;
  border-bottom: 3px solid $color-bright-aqua;
}

.events-page__upcoming-events__title {
  @include standard-page__section-title();
}

.events-page__previous-events__container {
  width: 100%;
  padding: 20px;
  margin: 20px 0px 0px 0px;
  border-bottom: 3px solid $color-bright-aqua;
  @media (max-width: $bp-large) {
    .events-page__previous-events__container {
      margin: 0px;
    }
  }
}

.events-page__previous-events__title {
  @include standard-page__section-title();
}

.events-page__events-card-section__container {
  width: 100%;
  padding: 30px 0px 30px 0px;
}
@media (max-width: $bp-large) {
  .events-page__events-card-section__container {
    padding: 10px;
  }
}
